.separar-top{
  padding-top: 20px;
 }

 .separar-bottom{
  padding-bottom: 15px;
 }

.centro{
  padding-top: 3%;
}

.title{
  text-align: center;
}

.button-array{
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.alert{
  color: red;
  transition: 5ms;
}

















